<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>okmeeple</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/the-big-picture.css" rel="stylesheet">
    <!-- <link href="static/starter-template.css" rel="stylesheet"> -->
    <link href="static/css/typeaheadjs.css" rel = "stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>okmeeple</h1>
        <p class="lead">Find your perfect board game match.</p>
      </div>

      <p>Please type the name of a board game you like below.</p>

      <div id="the-basics" style="padding-top: 10px ; padding-bottom: 15px; color=rgb(255,255,255,1)">
      <input class="form-control typeahead tt" type="text" name='boardgame1' id='boardgame1' size='60' placeholder="Your favorite board game" background-color=rgb(255, 255, 255)>
      </div>


<!--     <div class="dropdown" style="padding-top: 10px ; padding-bottom: 15px">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Playing Time
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 minutes (or less)</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 to 25 minutes</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25 to 35 minutes</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">35 to 45 minutes</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">45 minutes to 1 hour</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 to 1.5 hours</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1.5 to 2 hours</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 to 3 hours</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 to 10 hours</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 hours (or more)</a></li>
        <!-- <li role="presentation" class="divider"></li> -->
        <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
      <!-- </ul> -->
    <!-- </div> -->

      <!-- <div id="the-basics" class="example"> -->
        <!-- <div class="demo"> -->
            <!-- <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"> -->
                <!-- <input class="typeahead tt-hint" type="text" style="position: absolute; top: 0px; left: 0px; border-color: trans… 1; background: none repeat scroll 0% 0% rgb(255, 255, 255);" readonly="" autocomplete="off" spellcheck="false" tabindex="-1"></input> -->
                <!-- <input class="typeahead tt-input" type="text" placeholder="States of USA" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"></input> -->
                <!-- <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; fo…x; text-rendering: optimizelegibility; text-transform: none;"></pre> -->
                <!-- <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span> -->
            <!-- </span> -->
        <!-- </div> -->
      <!-- </div> -->

      <!-- <div class="the-basics">  -->
        <!-- <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;" > -->
            <!-- <input class="typeahead tt-hint" type="text" style="position: absolute; top: 0px; left: 0px; border-color: trans… 1; background: none repeat scroll 0% 0% rgb(255, 255, 255);" readonly="" autocomplete="off" spellcheck="false" tabindex="-1"></input> -->
            <!-- <input class="typeahead tt" type="text" placeholder="Your favorite board game" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent;" dir="auto"></input> -->
            <!-- <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; fo…x; text-rendering: optimizelegibility; text-transform: none;"></pre> -->
            <!-- <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span> -->
        <!-- </span> -->
      <!-- </div> -->


      <div class="buttonbox">
          <!-- <button id="puppymaker">Make a new puppy.</button> -->
          <button class="btn btn-default" id="querymaker">Query for board games.</button>
      </div>
      <div id="gamebox">
          <p>We recommend the following board games for you:</p>
          <!-- <strong><div id='echoResult'></div></strong> -->
          <table class="table">
          </table>
      </div>

    </div>




    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="static/js/jquery.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type=text/javascript>
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/typeahead.bundle.js"></script>
    <script src="static/js/the-basics.js"></script>
    <script>


        var query_for_games = function() {
            $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/echo/",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="boardgame1"]').val() },
            success: function(data) {
                games = data.games;
                $("#gamebox tr").remove();
                for (i=0; i < games.length; i++) {
                  $("#gamebox table").append('<tr style="color:black"> <td> <img width=150 src='+games[i]['image']+'>  </td> <td>' + '<a style="color:black" href='+games[i]['url']+'>' + games[i]['game'] + ' ('+games[i]['year']+') <\a> </td> <td> '+ games[i]['description']+' </td> </tr>');
                }
              }
            })

        }
        $(document).ready(function() {
            // $("a.dropdown-toggle").click(function(ev) {
              // $("a.dropdown-toggle").dropdown("toggle");
              // return false;
            // });
            // $("ul.dropdown-menu a").click(function(ev) {
              // $("a.dropdown-toggle").dropdown("toggle");
              // return false;
            // });




            $('#querymaker').click(query_for_games);

            }
        )
    </script>
  </body>
</html>
